<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration>

	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d - %c -%-4r [%t] %-5p %x - %m%n" />
		</layout>

		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMax" value="ERROR" />
			<param name="LevelMin" value="INFO" />
		</filter>
	</appender>

	<appender name="FILE" class="org.apache.log4j.FileAppender">
		<param name="File" value="/log4j.log" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d - %c -%-4r [%t] %-5p %x - %m%n" />
		</layout>
	</appender>


	<logger name="org.springframework" additivity="false">
		<level value="info" />
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="FILE" />
	</logger>

	<logger name="org.housemart">
		<level value="debug" />
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="FILE" />
	</logger>

	<root>
		<priority value="fatal" />
	</root>

</log4j:configuration> 