<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context-3.0.xsd
        http://www.springframework.org/schema/mvc 
        http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd">


	<bean name="companyCategory" class="org.housemart.broker.model.Category">
		<property name="id" value="company" />
		<property name="name" value="经纪公司" />
		<property name="options">
			<list>
				<bean class="org.housemart.broker.model.Option">
					<property name="id" value="c5%d6%d0%d4%ad%b5%d8%b2%fa" />
					<property name="name" value="中原地产" />
				</bean>
				<bean class="org.housemart.broker.model.Option">
					<property name="id" value="c521%ca%c0%bc%cd%b2%bb%b6%af%b2%fa" />
					<property name="name" value="21世纪不动产" />
				</bean>
				<bean class="org.housemart.broker.model.Option">
					<property name="id" value="c5%ba%ba%d3%ee%b5%d8%b2%fa" />
					<property name="name" value="汉宇地产" />
				</bean>
				<bean class="org.housemart.broker.model.Option">
					<property name="id" value="c5%b5%c2%d3%d3%b5%d8%b2%fa" />
					<property name="name" value="德佑地产" />
				</bean>
				<bean class="org.housemart.broker.model.Option">
					<property name="id" value="c5%d6%be%d4%b6%b5%d8%b2%fa" />
					<property name="name" value="志远地产" />
				</bean>
				<bean class="org.housemart.broker.model.Option">
					<property name="id" value="c5%d0%c5%d2%e5%b7%bf%ce%dd" />
					<property name="name" value="信义房屋" />
				</bean>
				<bean class="org.housemart.broker.model.Option">
					<property name="id" value="c5%ce%d2%b0%ae%ce%d2%bc%d2" />
					<property name="name" value="我爱我家" />
				</bean>
				<bean class="org.housemart.broker.model.Option">
					<property name="id" value="c5%b1%a6%d4%ad%b5%d8%b2%fa" />
					<property name="name" value="宝原地产" />
				</bean>
				<bean class="org.housemart.broker.model.Option">
					<property name="id" value="c5%cc%ab%c6%bd%d1%f3%b7%bf%ce%dd" />
					<property name="name" value="太平洋房屋" />
				</bean>
				<bean class="org.housemart.broker.model.Option">
					<property name="id" value="c5%d3%c0%c7%ec%b7%bf%ce%dd" />
					<property name="name" value="永庆房屋" />
				</bean>
				<bean class="org.housemart.broker.model.Option">
					<property name="id" value="c5%d7%a1%c9%cc%b2%bb%b6%af%b2%fa" />
					<property name="name" value="住商不动产" />
				</bean>
				<bean class="org.housemart.broker.model.Option">
					<property name="id" value="c5%be%c5%bc%e4%b0%e9%b2%bb%b6%af%b2%fa" />
					<property name="name" value="九间伴不动产" />
				</bean>
			</list>
		</property>
	</bean>

	<bean name="regionCategory" class="org.housemart.broker.model.Category">
		<property name="id" value="region" />
		<property name="name" value="区域" />
		<property name="options">
			<list>
				<bean class="org.housemart.broker.model.Option">
					<property name="id" value="a030" />
					<property name="name" value="宝山" />
					<property name="options">
						<list>
							<bean class="org.housemart.broker.model.Option">
								<property name="id" value="b010256" />
								<property name="name" value="大场镇" />
							</bean>
							<bean class="org.housemart.broker.model.Option">
								<property name="id" value="b03937" />
								<property name="name" value="大华" />
							</bean>
							<bean class="org.housemart.broker.model.Option">
								<property name="id" value="b03940" />
								<property name="name" value="高境" />
							</bean>
							<bean class="org.housemart.broker.model.Option">
								<property name="id" value="b012993" />
								<property name="name" value="共富" />
							</bean>
							<bean class="org.housemart.broker.model.Option">
								<property name="id" value="b03943" />
								<property name="name" value="共康" />
							</bean>
							<bean class="org.housemart.broker.model.Option">
								<property name="id" value="b03941" />
								<property name="name" value="顾村" />
							</bean>
							<bean class="org.housemart.broker.model.Option">
								<property name="id" value="b03945" />
								<property name="name" value="罗店" />
							</bean>
							<bean class="org.housemart.broker.model.Option">
								<property name="id" value="b03948" />
								<property name="name" value="罗泾" />
							</bean>
							<bean class="org.housemart.broker.model.Option">
								<property name="id" value="b03938" />
								<property name="name" value="上大" />
							</bean>
							<bean class="org.housemart.broker.model.Option">
								<property name="id" value="b03947" />
								<property name="name" value="淞宝" />
							</bean>
							<bean class="org.housemart.broker.model.Option">
								<property name="id" value="b03939" />
								<property name="name" value="淞南" />
							</bean>
							<bean class="org.housemart.broker.model.Option">
								<property name="id" value="b012994" />
								<property name="name" value="通河" />
							</bean>
							<bean class="org.housemart.broker.model.Option">
								<property name="id" value="b010649" />
								<property name="name" value="杨行" />
							</bean>
							<bean class="org.housemart.broker.model.Option">
								<property name="id" value="b03946" />
								<property name="name" value="月浦" />
							</bean>
							<bean class="org.housemart.broker.model.Option">
								<property name="id" value="b03942" />
								<property name="name" value="张庙" />
							</bean>
						</list>
					</property>
				</bean>
				<bean class="org.housemart.broker.model.Option">
					<property name="id" value="a020" />
					<property name="name" value="长宁" />
					<property name="options">
						<list>
							<bean class="org.housemart.broker.model.Option">
								<property name="id" value="b02075" />
								<property name="name" value="北新泾" />
							</bean>
							<bean class="org.housemart.broker.model.Option">
								<property name="id" value="b01617" />
								<property name="name" value="古北" />
							</bean>
							<bean class="org.housemart.broker.model.Option">
								<property name="id" value="b01619" />
								<property name="name" value="虹桥" />
							</bean>
							<bean class="org.housemart.broker.model.Option">
								<property name="id" value="b01621" />
								<property name="name" value="天山" />
							</bean>
							<bean class="org.housemart.broker.model.Option">
								<property name="id" value="b05251" />
								<property name="name" value="西郊" />
							</bean>
							<bean class="org.housemart.broker.model.Option">
								<property name="id" value="b013642" />
								<property name="name" value="仙霞" />
							</bean>
							<bean class="org.housemart.broker.model.Option">
								<property name="id" value="b01620" />
								<property name="name" value="新华路" />
							</bean>
							<bean class="org.housemart.broker.model.Option">
								<property name="id" value="b05701" />
								<property name="name" value="镇宁路" />
							</bean>
							<bean class="org.housemart.broker.model.Option">
								<property name="id" value="b01618" />
								<property name="name" value="中山公园" />
							</bean>
						</list>
					</property>
				</bean>
				<bean class="org.housemart.broker.model.Option">
					<property name="id" value="a0996" />
					<property name="name" value="崇明" />
				</bean>
				<bean class="org.housemart.broker.model.Option">
					<property name="id" value="a032" />
					<property name="name" value="奉贤" />
				</bean>
				<bean class="org.housemart.broker.model.Option">
					<property name="id" value="a023" />
					<property name="name" value="虹口" />
					<property name="options">
						<list>
							<bean class="org.housemart.broker.model.Option">
								<property name="id" value="b0121" />
								<property name="name" value="北外滩" />
							</bean>
							<bean class="org.housemart.broker.model.Option">
								<property name="id" value="b05257" />
								<property name="name" value="江湾镇" />
							</bean>
							<bean class="org.housemart.broker.model.Option">
								<property name="id" value="b05256" />
								<property name="name" value="凉城" />
							</bean>
							<bean class="org.housemart.broker.model.Option">
								<property name="id" value="b02974" />
								<property name="name" value="临平路" />
							</bean>
							<bean class="org.housemart.broker.model.Option">
								<property name="id" value="b01629" />
								<property name="name" value="鲁迅公园" />
							</bean>
							<bean class="org.housemart.broker.model.Option">
								<property name="id" value="b01627" />
								<property name="name" value="曲阳" />
							</bean>
							<bean class="org.housemart.broker.model.Option">
								<property name="id" value="b01628" />
								<property name="name" value="四川北路" />
							</bean>
						</list>
					</property>
				</bean>
				<bean class="org.housemart.broker.model.Option">
					<property name="id" value="a024" />
					<property name="name" value="黄浦" />
					<property name="options">
						<list>
							<bean class="org.housemart.broker.model.Option">
								<property name="id" value="b01631" />
								<property name="name" value="董家渡" />
							</bean>
							<bean class="org.housemart.broker.model.Option">
								<property name="id" value="b05237" />
								<property name="name" value="黄浦滨江" />
							</bean>
							<bean class="org.housemart.broker.model.Option">
								<property name="id" value="b01630" />
								<property name="name" value="老西门" />
							</bean>
							<bean class="org.housemart.broker.model.Option">
								<property name="id" value="b05240" />
								<property name="name" value="南京东路" />
							</bean>
							<bean class="org.housemart.broker.model.Option">
								<property name="id" value="b05238" />
								<property name="name" value="蓬莱公园" />
							</bean>
							<bean class="org.housemart.broker.model.Option">
								<property name="id" value="b05239" />
								<property name="name" value="人民广场" />
							</bean>
							<bean class="org.housemart.broker.model.Option">
								<property name="id" value="b01632" />
								<property name="name" value="豫园" />
							</bean>
						</list>
					</property>
				</bean>
				<bean class="org.housemart.broker.model.Option">
					<property name="id" value="a029" />
					<property name="name" value="嘉定" />
					<property name="options">
						<list>
							<bean class="org.housemart.broker.model.Option">
								<property name="id" value="b05262" />
								<property name="name" value="安亭" />
							</bean>
							<bean class="org.housemart.broker.model.Option">
								<property name="id" value="b05261" />
								<property name="name" value="丰庄" />
							</bean>
							<bean class="org.housemart.broker.model.Option">
								<property name="id" value="b02079" />
								<property name="name" value="嘉定城区" />
							</bean>
							<bean class="org.housemart.broker.model.Option">
								<property name="id" value="b05260" />
								<property name="name" value="江桥" />
							</bean>
							<bean class="org.housemart.broker.model.Option">
								<property name="id" value="b012921" />
								<property name="name" value="菊园新区" />
							</bean>
							<bean class="org.housemart.broker.model.Option">
								<property name="id" value="b01669" />
								<property name="name" value="南翔" />
							</bean>
						</list>
					</property>
				</bean>
				<bean class="org.housemart.broker.model.Option">
					<property name="id" value="a035" />
					<property name="name" value="金山" />
				</bean>
				<bean class="org.housemart.broker.model.Option">
					<property name="id" value="a021" />
					<property name="name" value="静安" />
					<property name="options">
						<list>
							<bean class="org.housemart.broker.model.Option">
								<property name="id" value="b01624" />
								<property name="name" value="曹家渡" />
							</bean>
							<bean class="org.housemart.broker.model.Option">
								<property name="id" value="b05244" />
								<property name="name" value="江宁路" />
							</bean>
							<bean class="org.housemart.broker.model.Option">
								<property name="id" value="b01622" />
								<property name="name" value="静安寺" />
							</bean>
							<bean class="org.housemart.broker.model.Option">
								<property name="id" value="b01623" />
								<property name="name" value="南京西路" />
							</bean>
						</list>
					</property>
				</bean>
				<bean class="org.housemart.broker.model.Option">
					<property name="id" value="a022" />
					<property name="name" value="卢湾" />
				</bean>
				<bean class="org.housemart.broker.model.Option">
					<property name="id" value="a018" />
					<property name="name" value="闵行" />
					<property name="options">
						<list>
							<bean class="org.housemart.broker.model.Option">
								<property name="id" value="b01609" />
								<property name="name" value="春申" />
							</bean>
							<bean class="org.housemart.broker.model.Option">
								<property name="id" value="b01601" />
								<property name="name" value="古美" />
							</bean>
							<bean class="org.housemart.broker.model.Option">
								<property name="id" value="b01608" />
								<property name="name" value="航华" />
							</bean>
							<bean class="org.housemart.broker.model.Option">
								<property name="id" value="b02078" />
								<property name="name" value="华漕" />
							</bean>
							<bean class="org.housemart.broker.model.Option">
								<property name="id" value="b01607" />
								<property name="name" value="金虹桥" />
							</bean>
							<bean class="org.housemart.broker.model.Option">
								<property name="id" value="b01606" />
								<property name="name" value="金汇" />
							</bean>
							<bean class="org.housemart.broker.model.Option">
								<property name="id" value="b01603" />
								<property name="name" value="静安新城" />
							</bean>
							<bean class="org.housemart.broker.model.Option">
								<property name="id" value="b04754" />
								<property name="name" value="老闵行" />
							</bean>
							<bean class="org.housemart.broker.model.Option">
								<property name="id" value="b01605" />
								<property name="name" value="龙柏" />
							</bean>
							<bean class="org.housemart.broker.model.Option">
								<property name="id" value="b01602" />
								<property name="name" value="罗阳" />
							</bean>
							<bean class="org.housemart.broker.model.Option">
								<property name="id" value="b05250" />
								<property name="name" value="马桥" />
							</bean>
							<bean class="org.housemart.broker.model.Option">
								<property name="id" value="b02077" />
								<property name="name" value="梅陇" />
							</bean>
							<bean class="org.housemart.broker.model.Option">
								<property name="id" value="b05248" />
								<property name="name" value="浦江" />
							</bean>
							<bean class="org.housemart.broker.model.Option">
								<property name="id" value="b01600" />
								<property name="name" value="七宝" />
							</bean>
							<bean class="org.housemart.broker.model.Option">
								<property name="id" value="b05249" />
								<property name="name" value="吴泾" />
							</bean>
							<bean class="org.housemart.broker.model.Option">
								<property name="id" value="b01599" />
								<property name="name" value="莘庄" />
							</bean>
							<bean class="org.housemart.broker.model.Option">
								<property name="id" value="b04755" />
								<property name="name" value="颛桥" />
							</bean>
						</list>
					</property>
				</bean>
				<bean class="org.housemart.broker.model.Option">
					<property name="id" value="a025" />
					<property name="name" value="浦东" />
					<property name="options">
						<list>
							<bean class="org.housemart.broker.model.Option">
								<property name="id" value="b01646" />
								<property name="name" value="北蔡" />
							</bean>
							<bean class="org.housemart.broker.model.Option">
								<property name="id" value="b01639" />
								<property name="name" value="碧云" />
							</bean>
							<bean class="org.housemart.broker.model.Option">
								<property name="id" value="b05278" />
								<property name="name" value="川沙" />
							</bean>
							<bean class="org.housemart.broker.model.Option">
								<property name="id" value="b05235" />
								<property name="name" value="曹路" />
							</bean>
							<bean class="org.housemart.broker.model.Option">
								<property name="id" value="b05920" />
								<property name="name" value="航头" />
							</bean>
							<bean class="org.housemart.broker.model.Option">
								<property name="id" value="b05929" />
								<property name="name" value="惠南" />
							</bean>
							<bean class="org.housemart.broker.model.Option">
								<property name="id" value="b01635" />
								<property name="name" value="花木" />
							</bean>
							<bean class="org.housemart.broker.model.Option">
								<property name="id" value="b01636" />
								<property name="name" value="金桥" />
							</bean>
							<bean class="org.housemart.broker.model.Option">
								<property name="id" value="b07366" />
								<property name="name" value="金杨" />
							</bean>
							<bean class="org.housemart.broker.model.Option">
								<property name="id" value="b05934" />
								<property name="name" value="康桥" />
							</bean>
							<bean class="org.housemart.broker.model.Option">
								<property name="id" value="b01638" />
								<property name="name" value="联洋" />
							</bean>
							<bean class="org.housemart.broker.model.Option">
								<property name="id" value="b05928" />
								<property name="name" value="临港新城" />
							</bean>
							<bean class="org.housemart.broker.model.Option">
								<property name="id" value="b01633" />
								<property name="name" value="陆家嘴" />
							</bean>
							<bean class="org.housemart.broker.model.Option">
								<property name="id" value="b014157" />
								<property name="name" value="南码头" />
							</bean>
							<bean class="org.housemart.broker.model.Option">
								<property name="id" value="b01637" />
								<property name="name" value="三林" />
							</bean>
							<bean class="org.housemart.broker.model.Option">
								<property name="id" value="b03990" />
								<property name="name" value="世博" />
							</bean>
							<bean class="org.housemart.broker.model.Option">
								<property name="id" value="b01640" />
								<property name="name" value="世纪公园" />
							</bean>
							<bean class="org.housemart.broker.model.Option">
								<property name="id" value="b01644" />
								<property name="name" value="塘桥" />
							</bean>
							<bean class="org.housemart.broker.model.Option">
								<property name="id" value="b05236" />
								<property name="name" value="唐镇" />
							</bean>
							<bean class="org.housemart.broker.model.Option">
								<property name="id" value="b03991" />
								<property name="name" value="外高桥" />
							</bean>
							<bean class="org.housemart.broker.model.Option">
								<property name="id" value="b013418" />
								<property name="name" value="潍坊" />
							</bean>
							<bean class="org.housemart.broker.model.Option">
								<property name="id" value="b05930" />
								<property name="name" value="新场" />
							</bean>
							<bean class="org.housemart.broker.model.Option">
								<property name="id" value="b013080" />
								<property name="name" value="杨东" />
							</bean>
							<bean class="org.housemart.broker.model.Option">
								<property name="id" value="b01642" />
								<property name="name" value="洋泾" />
							</bean>
							<bean class="org.housemart.broker.model.Option">
								<property name="id" value="b01641" />
								<property name="name" value="源深" />
							</bean>
							<bean class="org.housemart.broker.model.Option">
								<property name="id" value="b01645" />
								<property name="name" value="张江" />
							</bean>
							<bean class="org.housemart.broker.model.Option">
								<property name="id" value="b05926" />
								<property name="name" value="周浦" />
							</bean>
							<bean class="org.housemart.broker.model.Option">
								<property name="id" value="b05931" />
								<property name="name" value="祝桥" />
							</bean>
							<bean class="org.housemart.broker.model.Option">
								<property name="id" value="b010315" />
								<property name="name" value="高行" />
							</bean>
						</list>
					</property>
				</bean>
				<bean class="org.housemart.broker.model.Option">
					<property name="id" value="a028" />
					<property name="name" value="普陀" />
					<property name="options">
						<list>
							<bean class="org.housemart.broker.model.Option">
								<property name="id" value="b01657" />
								<property name="name" value="曹杨" />
							</bean>
							<bean class="org.housemart.broker.model.Option">
								<property name="id" value="b01658" />
								<property name="name" value="长风" />
							</bean>
							<bean class="org.housemart.broker.model.Option">
								<property name="id" value="b01655" />
								<property name="name" value="长寿路" />
							</bean>
							<bean class="org.housemart.broker.model.Option">
								<property name="id" value="b01662" />
								<property name="name" value="长征" />
							</bean>
							<bean class="org.housemart.broker.model.Option">
								<property name="id" value="b01663" />
								<property name="name" value="甘泉宜川" />
							</bean>
							<bean class="org.housemart.broker.model.Option">
								<property name="id" value="b05252" />
								<property name="name" value="光新" />
							</bean>
							<bean class="org.housemart.broker.model.Option">
								<property name="id" value="b05254" />
								<property name="name" value="桃浦" />
							</bean>
							<bean class="org.housemart.broker.model.Option">
								<property name="id" value="b01660" />
								<property name="name" value="万里" />
							</bean>
							<bean class="org.housemart.broker.model.Option">
								<property name="id" value="b01656" />
								<property name="name" value="武宁" />
							</bean>
							<bean class="org.housemart.broker.model.Option">
								<property name="id" value="b01659" />
								<property name="name" value="真光" />
							</bean>
							<bean class="org.housemart.broker.model.Option">
								<property name="id" value="b05253" />
								<property name="name" value="真如" />
							</bean>
							<bean class="org.housemart.broker.model.Option">
								<property name="id" value="b01661" />
								<property name="name" value="中远两湾城" />
							</bean>
						</list>
					</property>
				</bean>
				<bean class="org.housemart.broker.model.Option">
					<property name="id" value="a031" />
					<property name="name" value="青浦" />
				</bean>
				<bean class="org.housemart.broker.model.Option">
					<property name="id" value="a0586" />
					<property name="name" value="松江" />
					<property name="options">
						<list>
							<bean class="org.housemart.broker.model.Option">
								<property name="id" value="b01702" />
								<property name="name" value="九亭" />
							</bean>
							<bean class="org.housemart.broker.model.Option">
								<property name="id" value="b05264" />
								<property name="name" value="佘山" />
							</bean>
							<bean class="org.housemart.broker.model.Option">
								<property name="id" value="b01708" />
								<property name="name" value="泗泾" />
							</bean>
							<bean class="org.housemart.broker.model.Option">
								<property name="id" value="b010656" />
								<property name="name" value="松江老城" />
							</bean>
							<bean class="org.housemart.broker.model.Option">
								<property name="id" value="b01703" />
								<property name="name" value="松江新城" />
							</bean>
							<bean class="org.housemart.broker.model.Option">
								<property name="id" value="b01709" />
								<property name="name" value="莘闵别墅" />
							</bean>
							<bean class="org.housemart.broker.model.Option">
								<property name="id" value="b01707" />
								<property name="name" value="新桥" />
							</bean>
						</list>
					</property>
				</bean>
				<bean class="org.housemart.broker.model.Option">
					<property name="id" value="a019" />
					<property name="name" value="徐汇" />
					<property name="options">
						<list>
							<bean class="org.housemart.broker.model.Option">
								<property name="id" value="b05245" />
								<property name="name" value="漕河泾" />
							</bean>
							<bean class="org.housemart.broker.model.Option">
								<property name="id" value="b06247" />
								<property name="name" value="长桥" />
							</bean>
							<bean class="org.housemart.broker.model.Option">
								<property name="id" value="b01615" />
								<property name="name" value="衡山路" />
							</bean>
							<bean class="org.housemart.broker.model.Option">
								<property name="id" value="b07321" />
								<property name="name" value="华东理工" />
							</bean>
							<bean class="org.housemart.broker.model.Option">
								<property name="id" value="b05234" />
								<property name="name" value="华泾" />
							</bean>
							<bean class="org.housemart.broker.model.Option">
								<property name="id" value="b01616" />
								<property name="name" value="建国西路" />
							</bean>
							<bean class="org.housemart.broker.model.Option">
								<property name="id" value="b01614" />
								<property name="name" value="康健" />
							</bean>
							<bean class="org.housemart.broker.model.Option">
								<property name="id" value="b02768" />
								<property name="name" value="龙华" />
							</bean>
							<bean class="org.housemart.broker.model.Option">
								<property name="id" value="b01611" />
								<property name="name" value="南站" />
							</bean>
							<bean class="org.housemart.broker.model.Option">
								<property name="id" value="b01613" />
								<property name="name" value="田林" />
							</bean>
							<bean class="org.housemart.broker.model.Option">
								<property name="id" value="b01610" />
								<property name="name" value="万体馆" />
							</bean>
							<bean class="org.housemart.broker.model.Option">
								<property name="id" value="b01612" />
								<property name="name" value="斜土路" />
							</bean>
							<bean class="org.housemart.broker.model.Option">
								<property name="id" value="b05247" />
								<property name="name" value="徐汇滨江" />
							</bean>
							<bean class="org.housemart.broker.model.Option">
								<property name="id" value="b0103" />
								<property name="name" value="徐家汇" />
							</bean>
							<bean class="org.housemart.broker.model.Option">
								<property name="id" value="b02767" />
								<property name="name" value="植物园" />
							</bean>
						</list>
					</property>
				</bean>
				<bean class="org.housemart.broker.model.Option">
					<property name="id" value="a026" />
					<property name="name" value="杨浦" />
					<property name="options">
						<list>
							<bean class="org.housemart.broker.model.Option">
								<property name="id" value="b05255" />
								<property name="name" value="鞍山" />
							</bean>
							<bean class="org.housemart.broker.model.Option">
								<property name="id" value="b01648" />
								<property name="name" value="东外滩" />
							</bean>
							<bean class="org.housemart.broker.model.Option">
								<property name="id" value="b01650" />
								<property name="name" value="黄兴公园" />
							</bean>
							<bean class="org.housemart.broker.model.Option">
								<property name="id" value="b010350" />
								<property name="name" value="控江路" />
							</bean>
							<bean class="org.housemart.broker.model.Option">
								<property name="id" value="b01647" />
								<property name="name" value="五角场" />
							</bean>
							<bean class="org.housemart.broker.model.Option">
								<property name="id" value="b01651" />
								<property name="name" value="新江湾城" />
							</bean>
							<bean class="org.housemart.broker.model.Option">
								<property name="id" value="b012971" />
								<property name="name" value="杨浦大桥" />
							</bean>
							<bean class="org.housemart.broker.model.Option">
								<property name="id" value="b01652" />
								<property name="name" value="中原" />
							</bean>
							<bean class="org.housemart.broker.model.Option">
								<property name="id" value="b01649" />
								<property name="name" value="周家嘴路" />
							</bean>
						</list>
					</property>
				</bean>
				<bean class="org.housemart.broker.model.Option">
					<property name="id" value="a027" />
					<property name="name" value="闸北" />
					<property name="options">
						<list>
							<bean class="org.housemart.broker.model.Option">
								<property name="id" value="b01653" />
								<property name="name" value="不夜城" />
							</bean>
							<bean class="org.housemart.broker.model.Option">
								<property name="id" value="b03935" />
								<property name="name" value="大宁" />
							</bean>
							<bean class="org.housemart.broker.model.Option">
								<property name="id" value="b0138" />
								<property name="name" value="彭浦" />
							</bean>
							<bean class="org.housemart.broker.model.Option">
								<property name="id" value="b01654" />
								<property name="name" value="西藏北路" />
							</bean>
							<bean class="org.housemart.broker.model.Option">
								<property name="id" value="b05259" />
								<property name="name" value="阳城" />
							</bean>
							<bean class="org.housemart.broker.model.Option">
								<property name="id" value="b05277" />
								<property name="name" value="永和" />
							</bean>
							<bean class="org.housemart.broker.model.Option">
								<property name="id" value="b03936" />
								<property name="name" value="闸北公园" />
							</bean>
						</list>
					</property>
				</bean>
			</list>
		</property>
	</bean>


</beans>  