<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context-3.0.xsd
        http://www.springframework.org/schema/mvc 
        http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd">

	<!-- Data Source -->
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url"
			value="jdbc:mysql://localhost:3306/repository?characterEncoding=utf-8" />
		<property name="username" value="root" />
		<property name="password" value="${housemart.mysql.password}" />
	</bean>

	<!-- Data Source -->

	<!-- Transaction manager for a single JDBC DataSource -->
	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<!-- Spring提供的iBatis的SqlMap配置 -->
	<bean id="sqlMapClient" class="org.springframework.orm.ibatis.SqlMapClientFactoryBean">
		<property name="configLocation" value="classpath:sqlmap/sqlMapConfig.xml" />
		<property name="dataSource" ref="dataSource" />
	</bean>

	<bean id="residenceDao" class="org.housemart.common.dao.GenericDaoImp">
		<property name="sqlMapClient" ref="sqlMapClient" />
		<constructor-arg>
			<value>org.housemart.pic.model.hm.ResidenceEntity</value>
		</constructor-arg>
	</bean>

	<bean id="houseDao" class="org.housemart.common.dao.GenericDaoImp">
		<property name="sqlMapClient" ref="sqlMapClient" />
		<constructor-arg>
			<value>org.housemart.pic.model.hm.HouseEntity</value>
		</constructor-arg>
	</bean>
	
	<bean id="housePicDao" class="org.housemart.common.dao.GenericDaoImp">
		<property name="sqlMapClient" ref="sqlMapClient" />
		<constructor-arg>
			<value>org.housemart.pic.model.hm.HousePicEntity</value>
		</constructor-arg>
	</bean>
	
	<bean id="brokerDao" class="org.housemart.common.dao.GenericDaoImp">
		<property name="sqlMapClient" ref="sqlMapClient" />
		<constructor-arg>
			<value>org.housemart.broker.model.Broker</value>
		</constructor-arg>
	</bean>
</beans>